<h1>Welcome Back <%=@user.name%></h1>

<% if @user.properties.any?%>
	<h2>This is your properties!</h2>
	<% @user.properties.each do |property|%>
		<a href="/properties/<%=property.id%>"><%=property.title%></a><br>
	<%end%>
<%else%>
	<h2>No Property be posted yet!</h2>
<%end%>


<%if @user.bookings.any?%>
	<h2>This is Your Booking</h2>
	<% @user.bookings.each do |booking|%>
		<p>From <%=booking.start_date%> </p>
		<p>Until <%=booking.end_date%></p>
		<p>You will stay in <%=booking.property.title%> </p>
	<a href="/bookings/<%=booking.id%>/edit"><button>Edit Your Booking</button></a>
	<span><form action="/bookings/<%=booking.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Your Booking">
	</form></span>

	<%end%>
<%else%>
	<h1>No Booking Done Yet</h1>
<%end%>