<h1><%=@user.name%></h1>


<% if @user.properties.any?%>
	<h2>This is <%=@user.name%> properties!</h2>
	<% @user.properties.each do |property|%>
		<a href="/properties/<%=property.id%>"><%=property.title%></a><br>
		
		<%if @user.id == session[:user_id]%>
			<a href="/properties/<%=property.id%>/edit"><button>Edit</button></a>


			<span><form action="/properties/<%=property.id%>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete Your Post">
			</form></span>

		<%end%>
	<%end%>

<%else%>

	<h2>No Property be posted yet!</h2>
<%end%>

<%if @user.id == session[:user_id]%>

	<%if @user.bookings.any?%>
		<h2>This is <%=@user.name%> Booking</h2>

		<% @user.bookings.each do |booking|%>
			<p>From <%=booking.start_date%> </p>
			<p>Until <%=booking.end_date%></p>

			<p>You will stay in <a href="/properties/<%=booking.property.id%>"><%=booking.property.title%></a> </p>

				<a href="/bookings/<%=booking.id%>/edit"><button>Edit Your Booking</button></a>
				<span><form action="/bookings/<%=booking.id%>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Delete Your Booking">
				</form></span>


		<%end%>
	<%else%>
		<h1>No Booking Done Yet</h1>
	<%end%>

<%end%>