<center>
	<h1>All Properties</h1>
</center>

<%if Property.all.count != 0%>
	<%Property.all.each do |property|%>

		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/properties/<%=property.id%>"><%=property.title%></a><br> by <a href="/users/<%=property.user.id%>"><%=property.user.name%></a>
			</div>
			<div class="panel-body">
				<%=property.description%>
			</div>
		</div>

	<%end%>
<%else%>
	<h2> No Property Uploaded Yet </h2>
<%end%>