<h1><%=@property.title%></h1><br>
by <%=@property.user.name%><br>

<%=@property.description%><br>


<h1><%=@error if @error %></h1>


<%if current_user.id == @property.user.id%>
	<a href="/properties/<%=@property.id%>/edit"><button>Edit</button></a>


	<span><form action="/properties/<%=@property.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Your Post">
	</form></span>
<%else%>

<form action="/comments" method="post">
	<label> Your Comment: </label>
	<input type="text" name="description">
	<input type="hidden" name="property_id" value="<%=@property.id%>">
	<input type="submit" value="Post Your Comment">
</form>

<%end%>

<h1>Comments</h1>

<%@property.comments.each do |comment|%>

	<%=comment.description%>
	<br>
	<p>by <a href="users/<%=comment.user.id%>"><%=comment.user.name%></a></p>

	<%if comment.user.id == session[:user_id]%>
		<a href="/comments/<%=comment.id%>/edit"><button>Edit</button></a>

		<span><form action="/comments/<%=comment.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Your Comment">
	</form></span>

	<%end%>

	<br>
<%end%>

<%if current_user.id != @property.user.id%>
	<h1>Book Now!</h1>

	<form action="/bookings" method="POST">
		<label>Start Date: </label>
		<input type="date" name="start_date" class="datepicker" required>
		<label>End Date: </label>
		<input type="date" name="end_date" class="datepicker" required>

		<input type="hidden" name="property_id" value="<%=@property.id%>">
		<input type="submit" value="Confirm Your Booking!">
	</form>

<%end%>

